<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="button-container">
        <div class="d-flex flex-row">
            <div class="button-row">
                <button id="lightningButton" onClick="lightning('lightningButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">LIGHTNING</button>

                <button id="dropMaskButton" onClick="mask('dropMaskButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">DROP THE MASK</button>
            </div>
            <div class="button-row">
                <button id="mirrorButton" onClick="mirror('mirrorButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">ILLUMINATE MIRROR</button>

                <button id="flashButton" onClick="flash('flashButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">FLASH SHADOW</button>
            </div>
            <div class="button-row">
                <button id="footstepsButton" onClick="footsteps('footstepsButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">FOOTSTEPS SOUND</button>

                <button id="soundsButton" onClick="sounds('soundsButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">SOUNDS</button>
            </div>
            <div class="button-row">
                <button id="screamButton" onClick="scream('screamButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">SCREAMS</button>

                <button id="dollButton" onClick="doll('dollButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">TURN THE DOLL HEAD</button>
            </div>
            <div class="button-row">
                <button id="tvButton" onClick="tv('tvButton')" onmousedown="this.style.background='#e21304'" onmouseup="this.style.background='#aa2a2a'"
                    type="submit">TURN TV ON</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var lightningcount = 3;
        var maskcount = 1; // zipline
        var mirrorcount = 3;
        var flashcount = 3;
        var footstepscount = 3;
        var soundscount = 3;
        var screamcount = 3;
        var dollcount = 3;
        var tvcount = 3;
        var list = ["lightningButton", "dropMaskButton", "mirrorButton", "flashButton", "footstepsButton", "soundsButton", "screamButton", "dollButton", "tvButton"];

        function lightning(btn) {
            $.ajax({
                type: 'POST',
                url: '/flicker'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            lightningcount--;
            if (lightningcount == 0) {
                document.getElementById(btn).disabled = true;
                document.getElementById(btn).style.backgroundColor = "#b1bac9";
                return;
            }
            document.getElementById(btn).disabled = true; // disable button when pressed for x seconds - setTimeout
            document.getElementById(btn).style.backgroundColor = "#b1bac9";
            setTimeout(setUp, 2000, btn); // enable button again
        }
        function mask(btn) {
            $.ajax({
                type: 'POST',
                url: '/clown'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            maskcount--;
            if (maskcount == 0) {
                document.getElementById(btn).disabled = true;
                document.getElementById(btn).style.backgroundColor = "#b1bac9";
                return;
            }
            document.getElementById(btn).disabled = true;
            document.getElementById(btn).style.backgroundColor = "#b1bac9";
            setTimeout(setUp, 2000, btn);
        }
        function mirror(btn) {
            $.ajax({
                type: 'POST',
                url: '/blinds'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            mirrorcount--;
            if (mirrorcount == 0) {
                document.getElementById(btn).disabled = true;
                document.getElementById(btn).style.backgroundColor = "#b1bac9";
                return;
            }
            document.getElementById(btn).disabled = true;
            document.getElementById(btn).style.backgroundColor = "#b1bac9";
            setTimeout(setUp, 2000, btn);
        }
        function flash(btn) {
            $.ajax({
                type: 'POST',
                url: '/shadow'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            flashcount--;
            if (flashcount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }
        function footsteps(btn) {
            $.ajax({
                type: 'POST',
                url: '/fog'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            footstepscount--;
            if (footstepscount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }
        function sounds(btn) {
            $.ajax({
                type: 'POST',
                url: '/sounds'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            soundscount--;
            if (soundscount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }
        function scream(btn) {
            $.ajax({
                type: 'POST',
                url: '/doll'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            screamcount--;
            if (screamcount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }
        function doll(btn) {
            $.ajax({
                type: 'POST',
                url: '/doll'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            dollcount--;
            if (dollcount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }
        function tv(btn) {
            $.ajax({
                type: 'POST',
                url: '/doll'
            });
            disableAll(list);
            setTimeout(setUpAll, 10000, list);
            tvcount--;
            if (tvcount == 0) {
                disable(btn);
                return;
            }
            disable(btn);
            setTimeout(setUp, 2000, btn);
        }

        function setUp(btn) {
            document.getElementById(btn).disabled = false;
            document.getElementById(btn).style.backgroundColor = "#aa2a2a";
        }
        function setUpAll(list) {
            list.forEach(setUp);
        }
        function disableAll(ids) {
            ids.forEach(disable);
        }
        function disable(btn) {
            document.getElementById(btn).disabled = true;
            document.getElementById(btn).style.backgroundColor = "#b1bac9";
        }
        function popup() {
            var password = prompt('Please enter the password: ');
            if (password != '1234') {
                alert('You are not authorized to use this feature.');
            }
        }

    </script>
</body>

</html>
