<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="button-container">
        <div class="d-flex flex-row">
            <div class="button-row">
                <button id="lightningButton" onClick="lightning('lightningButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">LIGHTNING</button>

                <button id="dropMaskButton" onClick="mask('dropMaskButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">DROP THE MASK</button>
            </div>
            <div class="button-row">
                <button id="tvButton" onClick="turn_on_tv('tvButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">TURN ON TV </button>

                <button id="flashButton" onClick="flash('flashButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">FLASH SHADOW</button>
            </div>
            <div class="button-row">
                <button id="footstepsButton" onClick="footsteps('footstepsButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">FOOTSTEPS SOUND</button>

                <button id="soundsButton" onClick="sounds('soundsButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">SOUNDS</button>
            </div>
            <div class="button-row">
                <button id="screamButton" onClick="scream('screamButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">SCREAMS</button>

                <button id="dollButton" onClick="doll('dollButton')" onmousedown="this.style.background='#e21304'"
                    onmouseup="this.style.background='#aa2a2a'" type="submit">TURN THE DOLL HEAD</button>
            </div>
            <div class="button-row">
                <button id="tvButton" onClick="tv('tvButton')" onmousedown="this.style.background='#e21304'" onmouseup="this.style.background='#aa2a2a'"
                    type="submit">TURN TV ON</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var lightningcount = 3;
        var maskcount = 1; // zipline
        var mirrorcount = 3;
        var flashcount = 3;
        var footstepscount = 3;
        var soundscount = 3;
        var screamcount = 3;
        var dollcount = 3;
        var tvcount = 3;
        var list = ["lightningButton", "dropMaskButton", "mirrorButton", "flashButton", "footstepsButton", "soundsButton", "screamButton", "dollButton", "tvButton"];

        function lightning(btn) {
            $.ajax({
                type: 'POST',
                url: '/flicker'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("lightningButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("lightningButton");

            lightningcount--;
            if (lightningcount == 0) { // if button has been pressed too many times, disable it permanently
                disable(btn);
                var index = list.indexOf("lightningButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); 
                return;
            }
            disable(btn); // disable current button
            setTimeout(setUp, Math.max(2000, 10000), btn); // enable button again
        }
        function mask(btn) {
            $.ajax({
                type: 'POST',
                url: '/clown'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("dropMaskButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("dropMaskButton");

            maskcount--;
            if (maskcount == 0) {
                disable(btn);
                var index = list.indexOf("dropMaskButton"); // remove from list so itll never be enabled again
                list.splice(index, 1);
                return;
            }
            disable(btn); // disable current button
            setTimeout(setUp, Math.max(2000, 10000), btn); // enable button again
        }
        function turn_on_tv(btn) {
            $.ajax({
                type: 'POST',
                url: '/turn_on_tv'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("tvButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("tvButton");

            tvcount--;
            if (tvcount == 0) {
                disable(btn);
                var index = list.indexOf("tvButton"); // remove from list so itll never be enabled again
                list.splice(index, 1);
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function flash(btn) {
            $.ajax({
                type: 'POST',
                url: '/silhouette_event'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("flashButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("flashButton");

            flashcount--;
            if (flashcount == 0) {
                disable(btn);
                var index = list.indexOf("flashButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function footsteps(btn) {
            $.ajax({
                type: 'POST',
                url: '/fog'
            });
           
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("footstepsButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("footstepsButton");

            footstepscount--;
            if (footstepscount == 0) {
                disable(btn);
                var index = list.indexOf("footstepsButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function sounds(btn) {
            $.ajax({
                type: 'POST',
                url: '/sounds'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("soundsButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("soundsButton");

            soundscount--;
            if (soundscount == 0) {
                disable(btn);
                var index = list.indexOf("soundsButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function scream(btn) {
            $.ajax({
                type: 'POST',
                url: '/doll'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("screamButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("screamButton");

            screamcount--;
            if (screamcount == 0) {
                disable(btn);
                var index = list.indexOf("screamButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function doll(btn) {
            $.ajax({
                type: 'POST',
                url: '/doll'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("dollButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("dollButton");

            dollcount--;
            if (dollcount == 0) {
                disable(btn);
                var index = list.indexOf("dollButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }
        function tv(btn) {
            $.ajax({
                type: 'POST',
                url: '/tv'
            });
            
            disableAll(list); // disable all BUT the current button
            var index = list.indexOf("tvButton"); // find index of curr id
            list.splice(index, 1); // remove that id
            setTimeout(setUpAll, 10000, list); // disable all but that one button
            list.push("tvButton");

            tvcount--;
            if (tvcount == 0) {
                disable(btn);
                var index = list.indexOf("tvButton"); // remove from list so itll never be enabled again
                list.splice(index, 1); // remove that id
                return;
            }
            disable(btn);
            setTimeout(setUp, Math.max(10000, 2000), btn);
        }

        function setUp(btn) {
            document.getElementById(btn).disabled = false;
            document.getElementById(btn).style.backgroundColor = "#aa2a2a";
        }
        function setUpAll(list) {
            list.forEach(setUp);
        }
        function disableAll(ids) {
            ids.forEach(disable);
        }
        function disable(btn) {
            document.getElementById(btn).disabled = true;
            document.getElementById(btn).style.backgroundColor = "#b1bac9";
        }

    </script>
</body>

</html>
